:root {
  --darkGray: #606060;
  --fairGray: #9babb7;
  --titleGreen: #1e9585;
  --backgroundGreen: #0aa2ac;
  --backgroundGray: #ECECEC;
  --white: #FFFFFF;
  --black: #000000;
}

.App {
  text-align: center;
}

.App .section{
  padding-top: 2vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

